.navbar {
  background: #FFFFFF;
  margin-top: 0.50rem !important;
}

.btn {
  background-color: white;
  color: #605DEC;
  border: 2px solid #605DEC;
}

.btn:hover {
  background-color: #605DEC;
  color: white;
}

