.navbar {
    background: #FFFFFF;
    margin-top: 0.50rem !important;
    border-bottom: 1px solid #EBECF0;
  }
  
  .btn {
    background-color: white;
    color: #605DEC;
    border: 2px solid #605DEC;
  }
  
  .btn:hover {
    background-color: #605DEC;
    color: white;
    border: 2px solid #605DEC;
  }
  
  