<nav class="navbar navbar-expand-lg navbar-light pt-0">
    <div class="container">
  
      <!-- logo & name -->
      <a class="ms-2 navbar-brand" routerLink=''>
        <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          GoTrip
      </a>
  
      <!-- button -->
      <div class="collapse navbar-collapse" id="navbarText">
          <!--Show this button if there is a user-->
        <ul *ngIf="user" class="navbar-nav mr-auto">
          <a routerLink="/create" class="btn btn-outline-primary my-2 my-sm-0" type="button">New Trip</a>
        </ul>
        <!--Show this button if there is NO user-->
        <ul class="navbar-nav mr-auto">
            <a routerLink=""  class="btn btn-outline-primary my-2 my-sm-0" type="button">Log in to plan now</a>
          </ul>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- user profile dropdown -->
      <div class="dropdown" *ngIf="user">
        <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/default.jpg" width="40" height="40" class="rounded-circle">
  
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  