<nav class="navbar navbar-expand-lg navbar-light pt-0">
    <div class="container px-0">

      <!-- logo & name -->
      <a class="ms-2 navbar-brand" routerLink=''>
        <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          GoTrip
      </a>

      <!-- button -->
      <div class="collapse navbar-collapse" id="navbarText">
          <!--Show this button if there is a user-->
        <ul *ngIf="loggedUser" class="navbar-nav mr-auto">
          <a routerLink="/create" class="btn btn-outline-primary my-2 my-sm-0" type="button">New Trip</a>
        </ul>
        <!--Show this button if there is NO user-->
        <ul *ngIf="!loggedUser" class="navbar-nav mr-auto">
            <a routerLink=""  class="btn btn-outline-primary my-2 my-sm-0" type="button">Log in to plan now</a>
          </ul>
      </div>
      <!-- user profile dropdown -->
      <div class="dropdown pe-4" *ngIf="loggedUser">
        <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="true" aria-haspopup="true">
          <img src="{{photoUrl}}" width="40" height="40" class="rounded-circle">
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
          <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
