<div class="container tripcardContainer">
    <div class="row row-cols-auto justify-content-end" style="min-height: 75px;">
        <div class="col mt-3">
            <span class="cardLable">DONE</span>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <span class="title">Summer Trip</span>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <span class="date">Nov 2021</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="city">Siegen</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="ownership">Created by you</span>
        </div>
    </div>
</div>

