<div class="container tripcardContainer my-2">
    <div class="row row-cols-auto justify-content-end" style="min-height: 75px;">
        <div class="col mt-3">
            <span class="cardLable">DONE</span>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <span class="title">{{pastTrip.title}}</span>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <span class="date">{{pastTrip.date}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="city">{{pastTrip.city}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="ownership">Created by {{pastTrip.owner}}</span>
        </div>
    </div>
</div>

