<!--This is a basic 404 page
-->
<div class="container-fluid mainContainer">
    <div class="row">
      <div class="col-md-4 col-lg-8 px-0 order-sm-2 order-md-1">
        <!--Background Component-->
        <app-background-image origin="404"></app-background-image>
      </div>  
      <div class="col-md-8 col-lg-4 px-4 order-sm-1 order-md-2 mt-5">
        <div class="px-4">
          <h5 class="form-title"><strong>404 - Page not found</strong></h5>
          <span>Sorry, the page you are looking for does not exist</span>
        </div>
      </div>  
  </div>
  
  