<div class="container-fluid backgroundDefault">
    <div class="container">
        <app-breadcrumb></app-breadcrumb>
        <div class="row">
            <div class="col-7 mainContainer pb-4 px-4 mb-4">
                <div class="col pt-4 pb-5 px-0">
                    <h4>Create new travel plan</h4>
                </div>
                <form (ngSubmit)="createPlan(formValue)" #formValue="ngForm">
                    <div class="row row-cols-2 mb-3">
                        <div class="col light-Grey">Basic</div>
                        <div class="col">
                            <label class="form-label">Trip title <abbr title="This field is mandatory">*</abbr></label>
                            <input type="text" name="Title" ngModel class="form-control" placeholder="Type the title of your trip" required maxlength="15" #title="ngModel">
                            <span class="counterLimit d-flex justify-content-end">{{title.value ? title.value.length : 0 }}/20</span>
                            <label class="form-label mt-3">Destination <abbr title="This field is mandatory">*</abbr></label>
                             <ng-select [items]="cities"
                                    name="city"
                                    bindLabel="name"
                                    placeholder="Select city"
                                    ngModel
                                   >
                            </ng-select>
                        </div> 
                    </div>
                    <hr>
                    <div class="row row-cols-2">
                        <div class="col light-Grey">
                            <span>Budget</span><br>
                            <span class="textDescription">Define 3 options</span>
                        </div>
                        <div class="col">
                            <label class="form-label">Option 1 <abbr title="This field is mandatory">*</abbr></label>
                            <input type="text" name="budget_1" ngModel class="form-control" placeholder="E.g., $100" required pattern="^[0-9]+$" #budgetOne="ngModel">
                            <div *ngIf="!budgetOne.valid && budgetOne.dirty" class="inputErrorMessage">
                                <span>Use only numbers (no , or .)</span>
                            </div>
                            <label class="form-label mt-3">Option 2 <abbr title="This field is mandatory">*</abbr></label>
                            <input type="text" name="budget_2" ngModel class="form-control" placeholder="E.g., $200" required pattern="^[0-9]+$" #budgetTwo="ngModel">
                            <div *ngIf="!budgetTwo.valid && budgetTwo.dirty" class="inputErrorMessage">
                                <span>Use only numbers (no , or .)</span>
                            </div>
                            <label class="form-label mt-3">Option 3 <abbr title="This field is mandatory">*</abbr></label>
                            <input type="text" name="budget_3" ngModel class="form-control" placeholder="E.g., $300" required pattern="^[0-9]+$" #budgetThree="ngModel">
                            <div *ngIf="!budgetThree.valid && budgetThree.dirty" class="inputErrorMessage">
                                <span>Use only numbers (no , or .)</span>
                            </div>
                        </div> 
                    </div>
                    <hr>
                    <div class="row row-cols-2">
                        <div class="col light-Grey">
                            <span>Date</span><br>
                            <span class="textDescription">Define 3 options</span>
                        </div>
                        <div class="col">
                            <label class="form-label">Option 1 <abbr title="This field is mandatory">*</abbr></label>
                            <app-datetimepicker [formId]="'one'" (sendData)="fillDates($event)"></app-datetimepicker>
                            <label class="form-label mt-3">Option 2 <abbr title="This field is mandatory">*</abbr></label>
                            <app-datetimepicker [formId]="'two'" (sendData)="fillDates($event)"></app-datetimepicker>
                            <label class="form-label mt-3">Option 3 <abbr title="This field is mandatory">*</abbr></label>
                            <app-datetimepicker [formId]="'three'" (sendData)="fillDates($event)"></app-datetimepicker>
                        </div> 
                    </div>
                    <hr>
                    <div class="row row-cols-2" >
                        <div class="col light-Grey">
                            <span>Invite friends</span><br>
                            <span class="textDescription">Inform your friends's email</span>
                        </div>
                        <div class="col">
                            <div class="row"> 
                                <div class="col-9" >
                                    <input type="text" class="form-control" name="email" [(ngModel)]="invitedFriend" email required #inviteEmail="ngModel"> 
                                </div> 
                                <div class="col-3  d-flex justify-content-end" >
                                    <button type="button" class="btn btn-secundary" (click)="invite()" [disabled]="!inviteEmail.valid">Add</button>
                                </div> 
                            </div>
                            <!--Component to show frieds' email-->
                            <app-invitation *ngFor="let invited of invitedFriends" [data]="invited"></app-invitation>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-6">
                            <button type="button" class="btn btn-secundary" (click)="cancel()">Cancel</button>
                        </div>
                        <div class="col-6  d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary" [disabled]="!formValue.valid">Create</button>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
