
.backgroundDefault{
    background-color: #F8F9FD;
    min-height: 100VH;
}

.mainContainer {
    background: #FFFFFF;
    border: 1px solid #EBECF0;
    box-sizing: border-box;
    border-radius: 6px;
}

h4 {
    color: #474F76
}

.light-Grey {
    color: #A1B0CC;
}

::placeholder {
   
    
}

.textDescription {
    font-size: 14px;
}

.btn-primary {
    background-color: #605DEC;
}

.btn-secundary {
    border: 2px solid #605DEC;
    color: #605DEC;
}

hr {
    border: 1px;
}