<!--
    This is the page shows the sights options available based on the selected city.
    The user can also like the ones the wanto to visit.

-->
<div class="col-12" style="min-height: 170px;">
    <div class="row">
        <span class="heading mb-4">Expore {{city}}</span>
    </div>
    <div class="row row-cols-3" style="min-height: 166px">
        <!--This should get ngFor-->
        <div class="col-4 px-1 mb-2" *ngFor="let sight of listOfSights">
            <!-- Sights card component -->
            <app-sight-card [isTheOwner]="isTheOwner" [sight]="sight"></app-sight-card>  
        </div>
    </div>
</div>
