<div class="container tripcardContainer">
    <!--This only shows to users who are invited-->
    <div *ngIf="invitedUser" class="row row-cols-auto justify-content-end" style="min-height: 75px">
        <div class="col mt-3" >
            <span class="cardLableInvitation">DECLINE</span>
        </div>
        <div class="col mt-3">
            <span class="cardLableInvitation">ACCEPT</span>
        </div>
    </div>
    <!--This only shows to users who is the trip's owner-->
    <div *ngIf="!invitedUser" class="row row-cols-auto justify-content-end" style="min-height: 75px;">
        <div class="col mt-3">
            <span class="cardLableOwner">OWNER</span>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <span class="title">Summer Trip</span>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <span class="date">TBC</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="city">Siegen</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="ownership">Created by you</span>
        </div>
    </div>
</div>
