<div class="row mb-4">
    <span class="heading">See the chosen places in the map</span>
</div>
<div class="full" #map>
</div>
<div class="">
    <small class="subheading"> <span class="highlight">Use your mouse to create a Geofencing area.</span> With Geofencing you can define and select an area from which you would like to receive notifications regarding awesome nearby places you can visit with just a few steps.
</small>
</div>
<div class="selSites">
  <span class="heading">Selected sites</span>
  <div class="container selSites">
    <span class="subheading">Unteres Schloss</span>
    <div class="pull-right">
      <button type="button" name="button" class="btn btn-outline-danger">Remove</button>
    </div>
  </div>
  <hr class="solid">

</div>