<div class="container-fluid mainContainer">
  <div class="row">
    <div class="col-8 px-0">
      <!--Background Component-->
      <app-background-image origin="login"></app-background-image>
    </div>  
    <div class="col-4 px-4">
      <form class="px-4">
        <h5 class="form-title"><strong>Welcome Back!</strong></h5>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email address">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Enter your password">
          <a href="#"><small>Forgot password</small></a>
        </div>
        <div>
          <button type="submit" class="btn btn-primary btn-block sign-in">Log In</button>
        </div>
        <div class="text-center">
          <a href="#"><small>Don't have an account yet</small></a>
        </div>
      </form>
    </div>  
</div>

