<div class="container" style="margin-top:20px;">
    <div class="row">
        <div>
            <div class="">
                <ul class="">
                    <li [ngClass]="getNoteClass(note)" class="clearfix" *ngFor="let note of notes">
                        <div *ngIf="note.me">
                            <div class="">
                                <div class="header">
                                    <small class=" text-muted">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </small>
                                    <strong class="pull-right primary-font">{{note.user}}</strong>
                                </div>
                                <p>
                                    {{note.body}}
                                </p>
                            </div>
                        </div>
                        <div *ngIf="!note.me">

                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{note.user}}</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </small>
                                </div>
                                <p>
                                    {{note.body}}
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="footer" class="">
                <div class="input-group">
                    <input id="btn-input" #note [(ngModel)]="noteValue" type="text" class="form-control input-sm"
                        placeholder="Type your note here...">
                    <span class="">
                        <button [disabled]="noteValue.length == 0" class="" id="btn-chat"
                            (click)="sendNote(note.value)">
                            Send</button>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>