/* Chat containers */
.container {
  border: 1px solid #ebecf0;
  background-color: #ffffff;
  border-radius: 2px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: left;
  margin-left: 20px;
  margin-right: 0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.btn-chat {
  background-color: #605dec;
  color: white;
  border-radius: 6xp;
  padding: 12px;
  align-items: right;
  justify-content: center;
  flex-direction: row;
  display: flex;
  position: sticky;
  left: 75.56%;
  right: 17.92%;
  top: 71.38%;
  bottom: 25.06%;
  border: 25px;
  margin: 0px 0;
}

.input-group {
  background-color: #f3f5fc;
  padding: 10px;
  /* display: flex;
  flex-direction: row; */
  border-radius: 6px;
  /* align-items: stretch; */
}

ol.list {
  list-style-type: none;
  list-style-position: inside;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.note-me {
  text-align: left;
  font-weight: 500;
  color: #999eb7;
}

.note-user {
  text-align: left;
  font-weight: 500;
  color: #999eb7;
}

.typebox {
  width: 75%;
  /* height: 150px; */
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 16px;
  resize: none;
  position: relative;
}
