<p style="color: #999eb7; font-weight: 500; ">
    Share information with your mates
</p>
<div class="container" style="margin: top 60px;">

    <div class="row">
        <div>
            <div class="">
                <ul class="">
                    <li [ngClass]="getNoteClass(note)" class="clearfix" *ngFor="let note of notes">
                        <div *ngIf="note.me">
                            <div class="">
                                <div class="header">
                                    <div class="pull-right primary-font">{{note.user}}</div>
                                    <div>
                                    </div>
                                    <p style="text-align: right;">{{note.body}}</p>
                                </div>
                                    </div>
                            
                        </div>
                        <div *ngIf="!note.me">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <div class="text-muted">{{note.user}}</div>
                                </div>
                                <p>{{note.body}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="footer" class="">
                <div class="input-group">
                    <input id="btn-input" #note [(ngModel)]="noteValue" type="text" class="typebox"
                        placeholder="Type your note here...">
                        
                    <button [disabled]="noteValue.length == 0" class="btn-chat" id="btn-chat" 
                        (click)="sendNote(note.value)">
                        <i class="fa  fa-paper-plane" style="margin-right: 6px;"> </i>Send
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>