<div class="container-fluid mainContainer tp-0">
    <div class="container">
        <app-breadcrumb [origin]="'tripDetails'"></app-breadcrumb>
        <div class="row">
            <!--Left column-->
            <div class="col-4" style="border:1px solid red; min-height:300px">
                <div class="row" style="border:1px solid green; min-height:100px">
                    <span>Component with trip title, city and contolers</span>
                </div>
                <div class="row" style="border:1px solid green; min-height:100px">
                    <span>Component with budget card</span>
                </div>
                <div class="row" style="border:1px solid green; min-height:100px">
                    <span>Component with days card</span>
                </div>
                <div class="row" style="border:1px solid green; min-height:100px">
                    <span>Component with friends cards</span>
                </div>
            </div>
            <!--Right column-->
            <div class="col-8">
                <div class="row linkContainer mb-2 mx-1">
                    <nav class="nav">
                        <a class="nav-link active" aria-current="page" href="#">All Sights</a>
                        <a class="nav-link" href="#">Map</a>
                        <a class="nav-link" href="#">Notes</a>
                      </nav>
                </div>
                <div class="row mx-1" style="border:1px solid green; min-height:100px">
                    <span>Show list of sights</span>
                </div>
            </div>
        </div>
    </div>
</div>
