.mainContainer {
    background-color: #F8F9FD;
    min-height: 100vh;
}

.linkContainer{
    background: white;
    border: 1px solid #EBECF0;
    border-radius: 6px;
}

.sightsContainer {
    padding: 20px 0;
    background: white;
    border: 1px solid #EBECF0;
    border-radius: 6px;
}

.nav-link {
    color: #7C8DB0;
    transition: all .2s;
}

.activeLink {
    color: #605DEC;
    font-weight: bold;
    transition: all .2s;
    
}