.card-img-top{
    max-height: 10rem;
}

.btn-primary {
    background-color: #E9E8FC; 
    border: 1px solid #E9E8FC;
    color: #605DEC !important
}
.btn-primary:hover{
    color: white !important
}

.card-text {
    color: #7C8DB0
}

.like {
    color: #c3cad3;
}

.like:hover {
    cursor: pointer;
    color: #EB5757;
    transition: all 0.2s;
}

.like-counter{
    color: #605DEC;
    padding-left: 8px;
    transition: all 0.2s;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 0 0 1px #b5b4e7;
    transition: all 0.2s;
}