<div class="container">
    <app-breadcrumb></app-breadcrumb>
    <div class="row mb-4">
        <div class="col">
            <img  [ngStyle]="{'background-image': 'url(http://localhost:4200/bg-invitation.jpg)', 'background-size': 'cover', 'background-position': 'center', 'min-height': '250px', 'min-width': '100%'}"  alt="..." >
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <h4>Title of the place</h4>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary my-3">Vote to Visit</button>
        </div>
    </div>
</div>
