<div class="container">
    <app-breadcrumb [origin]="'moreInfo'"></app-breadcrumb>
    <div class="row mb-4">
        <div class="col">
            <img  [ngStyle]="{'background-image': 'url(\''+ sight.urlImage + '\')', 'background-size': 'cover', 'background-position': 'center', 'min-height': '250px', 'min-width': '100%'}"  alt="..." >
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <h4>{{sight.name}}</h4>
            <p>
                {{sight.description}}
            </p>
        </div>
        <div class="col-3">
            <button (click)="voteSight()" type="button" class="btn btn-primary my-3" [attr.disabled]="!sight.hasAcceptedInvitation ? '' : null">Vote to Visit</button>
        </div>
    </div>
</div>
