.form-check-label{
    color:#605DEC;
    background: #F3F7FB;
    min-width: 24px;
    min-height: 18px;
    border-radius: 2px;
    text-align: center;
    margin-left: 6px;
}

.lightGrey{
    color: #66707C
}

i {
    color: #A1B0CC;
}

.list {
    padding-top: 6px;
    padding-bottom: 4px;
}

.win {
    border: 0px solid white;
    border-radius: 0 20px 20px 0;
    background-color: rgb(178, 248, 213);
}