<!--
    This is shown at the top left side. It has basic information about the trip as
    city, title and controls to accept, reject, edit, mark as finished. The controls 
    are shown depend on the user. If it is an invited user it will not be shown edit and
    mark as finished button. If the user have not accepted the invitation it will show buttons
    to accept and reject the invitation.

-->

<div class="col-12 mb-5">
    <h2 class="mb-0">{{title}}</h2>
    <span class="city">{{city}}</span>
    <br>
    <!--Show if the user is the trip owner-->
    <div *ngIf="isTheOwner">
        <button type="button" class="btn btn-primary my-3">Edit</button>
        <br>
        <span class="btn-link" (click)="setTripAsFinished()">Mark as Finished</span>
    </div>
    <!--Show if the user is not the trip owner-->
    <div *ngIf="!isTheOwner && !hasAcceptedInvitation">
        <button type="button" class="btn btn-outline-primary my-3 me-4">Decline</button>
        <button type="button" class="btn btn-primary my-3">Accept</button>
    </div>
</div>
