<div class="col-12 mb-5">
    <h2 class="mb-0">{{title}}</h2>
    <span class="city">{{city}}</span>
    <br>
    <!--Show if the user is the trip owner-->
    <div *ngIf="isTheOwner">
        <button type="button" class="btn btn-primary my-3">Edit</button>
        <br>
        <span class="btn-link" (click)="setTripAsFinished()">Mark as Finished</span>
    </div>
    <!--Show if the user is not the trip owner-->
    <div *ngIf="!isTheOwner && !hasAcceptedInvitation">
        <button type="button" class="btn btn-outline-primary my-3 me-4">Decline</button>
        <button type="button" class="btn btn-primary my-3">Accept</button>
    </div>
</div>
