.confirmed{
    background-color: #5CD6C0;
    color: #29665B;
    border-radius: 50px;
    font-size: 14px;
    max-height: 25px;
    max-width: 90px;
}

.pending{
    background-color: #FAB48D;
    color: #8E5230;
    border-radius: 50px;
    font-size: 14px;
    max-height: 25px;
    max-width: 70px;
}

.lightGray {
    color: #7C8DB0;
    font-size: 14px;
}