<div class="col-12">
    <div class="row mb-3">
        <div class="col">
            <h5>Friends</h5>
        </div>
    </div>
    <!--NgFor for each friend invited-->
    <div class="row align-middle mb-2" *ngFor="let friend of currentTrip.invitedFriends">
        <div class="col-3">
            <img [src]="friend.photo ? friend.photo : 'assets/default.jpg' " style="width: 30px; height: 30px; border-radius: 15px;"/>
        </div>
        <div class="col-4 lightGray px-0" >
            <span class="align-middle">{{friend.name}}</span>
        </div>
        <div class="col confirmed px-1" *ngIf="friend.status == 'confirmed'">
            <span class="align-middle">CONFIRMED</span>
        </div>
        <div class="col pending px-1" *ngIf="friend.status == 'pending'">
            <span class="align-middle">PENDING</span>
        </div>
    </div>
</div>