<div class="col-12">
    <div class="row mb-3">
        <div class="col">
            <h5>Friends</h5>
        </div>
    </div>
    <!--NgFor for each friend invited-->
    <div class="row align-middle mb-2">
        <div class="col-3">
            <img src="assets/avatar.jpg" style="width: 30px; height: 30px; border-radius: 15px;"/>
        </div>
        <div class="col-4 lightGray px-0" >
            <span class="align-middle">Anna J.</span>
        </div>
        <div class="col confirmed px-1">
            <span class="align-middle">CONFIRMED</span>
        </div>
    </div>
    <div class="row align-middle mb-2">
        <div class="col-3">
            <img src="assets/avatar.jpg" style="width: 30px; height: 30px; border-radius: 15px;"/>
        </div>
        <div class="col-5 lightGray px-0" >
            <span class="align-middle">Bethina S.</span>
        </div>
        <div class="col pending px-1">
            <span class="align-middle">PENDING</span>
        </div>
    </div>
</div>