.background-img-login {
    background:url('../../images/bg.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}

.background-img-signup {
    background:url('../../images/bg-signup.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}

.background-img-reset {
    background:url('../../images/bg-reset.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}
