<div class="container-fluid mainContainer">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Hello <span class="textHighlightBlue">{{userName}}</span> Ready to the 
                    next adventure?</h2>
            </div>
        </div>
        <!--Current trips-->
        <div class="row containerWhite" style="min-height: 300px;">
            <div class="col-12 mb-3">
                <span class="textSecundary fs-5">Current Trip <span *ngIf="currentTrips.length > 0">({{currentTrips.length}})</span></span>
            </div>
            <div class="col-12" style="min-height: 170px;" *ngIf="!isLoading">
                <div class="row row-cols-4" style="min-height: 166px;">
                    <div *ngFor="let trip of currentTrips" class="col-3" >
                        <!-- Trip card component -->
                        <app-active-trip-card [tripPlan]="trip" (updateDashboad)="update()"></app-active-trip-card>
                    </div>
                    <!-- Create trip planner -->
                    <div class="col-3">
                        <app-create-new-trip-plan-button></app-create-new-trip-plan-button>
                    </div>
                </div>
            </div> 
            <!--Show Spinner while getting data-->
            <div *ngIf="isLoading" class="d-flex justify-content-center">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <!--Past trips-->
        <div class="row containerWhite">
            <div class="col-12 mb-3">
                <span class="textSecundary fs-5">Past Trip <span *ngIf="oldTrips.length > 0">({{oldTrips.length}})</span></span>
            </div>
            <div class="col-12" style="min-height: 170px;">
                <div *ngIf="oldTrips.length >= 1" class="row row-cols-4" style=" min-height: 166px;">
                    <div *ngFor="let pastTrip of oldTrips" class="col-3">
                        <!-- past Trip card component -->
                       <app-old-trip-card [pastTrip]="pastTrip"></app-old-trip-card>
                    </div>
                </div>
                <div *ngIf="oldTrips.length == 0" class="row" style="min-height: 166px;">
                    <figure class="justify-content-center d-flex align-items-center">
                        <span class="text-muted">No Past trip available</span>
                    </figure>
                </div>
            </div> 
        </div>
    </div>
</div>
