.mainContainer {
    background-color: #F8F9FD;
    padding: 40px 0;
}

.textHighlightBlue {
    color: #605DEC;
}

h1 {
    font-size: 27px;
}

.textSecundary {
    color: #7C8DB0;
    size: 24px;

}

.containerWhite {
    background: #FFFFFF;
    border: 1px solid #EBECF0;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 17px;
    min-height: 276px;
    padding: 30px;
}

