<div class="container-fluid mainContainer pt-0">
    <div class="container">
        <div class="">
            <app-breadcrumb origin="profile"></app-breadcrumb>
        </div>
        <div class="row">
            <div class="col-6 profile-container py-4 mx-4">
                <h4>Profile</h4>

                <!-- user profile picture -->
                <img src="{{photoUrl}}" style="width:129px; height:129px" class="img-thumbnail" alt="profile_photo">
                <br>
              <label type="button" class="btn-link">
                Upload Photo  <input type="file" hidden
                               (change)="onFileSelected($event)" #fileUpload>
              </label>



                <form class="mt-4" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <!-- user info -->
                    <label for="name" class="form-label">Name</label>
                    <div class="input-group mb-3">
                        <input id="name" formControlName="name" type="text" class="form-control" placeholder="{{username}}" aria-label="Enter name" aria-describedby="basic-addon1">
                    </div>
                    <label for="email" class="form-label">Email</label>
                    <div class="input-group mb-3">
                        <input id="email" formControlName="email"  type="text" class="form-control" placeholder="{{useremail}}" aria-label="Enter email" aria-describedby="basic-addon1">
                    </div>
                    <label for="newPass" class="form-label">New Password</label>
                    <div class="input-group mb-3">
                        <input id="newPass" formControlName="newPass" type="text" class="form-control" placeholder=" " aria-label="Enter new password" aria-describedby="basic-addon1">
                    </div>
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
