<div class="container-fluid">
  <p>Profile</p>

  <!-- user profile picture -->
  <img src="assets/default.png" class="img-thumbnail" alt="profilepic">
  <button class="btn btn-primary" type="submit">Update photo</button>

  <!-- user info -->
  <label for="basic-url" class="form-label">Name</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Enter name" aria-label="Enter name" aria-describedby="basic-addon1">
</div>
  <label for="basic-url" class="form-label">Email</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Enter email" aria-label="Enter email" aria-describedby="basic-addon1">
  </div>
  <label for="basic-url" class="form-label">New Password</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Enter new password" aria-label="Enter new password" aria-describedby="basic-addon1">
  </div>
  <button class="btn btn-primary" type="submit">Save</button>

