<body>

  <div class="container-fluid mainContainer">
    <div class="row">
      <div class="col-8 px-0">
        <!--Background Component-->
        <app-background-image origin="forgot-password"></app-background-image>
      </div>
      <div class="col-4 px-4">
        <form class="px-4">
          <h5 class="form-title"><strong>Forgot password</strong></h5>
          <div *ngIf="!showSuccess">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input (keyup)="onKey($event)" type="email" class="form-control form-control-sm" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Enter your email address">

            </div>

            <div>
              <button (click)="onClickMe()" type="submit" class="btn btn-primary btn-block sign-in">Confirm</button>
            </div>
          </div>
          <div class="" *ngIf="showSuccess">We have sent a password reset link to: {{email}}
            If you don't see the email, please check your spam folder.</div>
        </form>
      </div>
    </div>
  </div>
</body>